#main {
    overflow: hidden;
}
/* =========== header ============= */
#header {
    height: var(--header-width);
    background-image: linear-gradient(180deg, #f53e2d, #fe6433);
}

.header__nav {
    display: flex;
    justify-content: space-between;
}

.header__nav-list {
    padding-left: 0;
    display: flex;
    align-items: center;
}

.header__nav-item {
    display: inline-block;
    font-size: 1.4rem;
    margin: 0 8px;
    font-weight: 300;
    position: relative;
    color: #fff;
}

.header__nav-icon-link:nth-child(2) {
    margin-left: 8px;
}

.header__nav-item-link, .header__nav-icon-link {
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.header__nav-icon-link, .header__nav-icon {
    margin: 0 4px;
}

.header_nav-item--separate::after {
    content: '';
    display: block;
    height: 12px;
    border-right: 2px solid #fb9086;
    position: absolute;
    top: 50%;
    right: -11px;
    transform: translateY(-50%);
}

/* user css */
.header__nav-user {
    display: flex;
    align-items: center;
    position: relative;
}

.header__nav-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgb(209, 183, 183);
}

.header__nav-user-name {
    font-size: 1.4rem;
    font-weight: 400;
    padding-left: 6px;
}


.header__nav-user:hover .header__nav-user-popup {
    display: block;
}

.header__nav-user-popup {
    width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    z-index: 1;
    border-radius: 2px;
    animation: scaleIn ease-in 0.3s;
    /* đặt lại tâm của animation scale lên top right */
    transform-origin: calc(100% - 20px) top;
    display: none;
    z-index: 2;
}

.header__nav-user-popup::before {
    content: '';
    border-width: 10px 20px;
    border-style: solid;
    /* 3 cạnh trong suốt */
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -20px;
    right: 16%;
}

.header__nav-user-popup::after {
    content: "";
    display: block;
    width: 50%;
    height: 20px;
    position: absolute;
    top: -18px;
    right: 0;
}

.header__nav-user-popup-list {
    padding-left: 0;
    list-style: none;
}

.header__nav-user-popup-item:hover a{
    background-color: var(--primary-color);
    color: #fff;
}

.header__nav-user-popup-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__nav-user-popup-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__nav-user-popup-item--saparate {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.header__nav-user-popup-item a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
    padding: 10px;
    display: block;
}


.show-qr-code:hover .header__nav-qr {
    display: block;
    animation: fadeIn ease-in 0.5s;
}

.header__nav-qr {
    width: 200px;
    padding-bottom: 10px;
    position: absolute;
    top: 150%;
    right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    border-radius: 2px;
    z-index: 2;
    display: none;
}

.header__nav-qr::before {
    content: '';
    display: block;
    height: 20px;
    position: absolute;
    top: -18px;
    left: 0;
    width: 100%;
}

.header__nav-qr-scan {
    width: 100%;
    padding: 5px;
}

.header__nav-qr-link {
    display: flex;
    justify-content: space-between;
}

.header__nav-qr-link-item,
.header__nav-qr-link img {
    height: 15px;
}

.header__nav-qr-link-item:first-child {
    margin-left: 15px;
}

.header__nav-qr-link-item:last-child {
    margin-right: 16px;
}

.header__nav-item--hover:hover .header__notify {
    display: block;
}
/* --------------header notify------------- */
.header__notify {
    width: 400px;
    background-color: #fff;
    position: absolute;
    top: 210%;
    right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    animation: scaleIn ease-in 0.3s;
    /* đặt lại tâm của animation scale lên top right */
    transform-origin: calc(100% - 20px) top;
    display: none;
    z-index: 2;
}

/* cái mũi tên trên box notify dùng border */
.header__notify::before {
    content: '';
    border-width: 20px 30px;
    border-style: solid;
    /* 3 cạnh trong suốt */
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -36px;
    right: 10px;
}

.header__notify::after {
    content: '';
    width: 90px;
    height: 40px;
    display: block;
    position: absolute;
    top: -23px;
    right: 0;
}


.header__notify-header {
    display: block;
    height: 40px;
    background-color: #fff;
    color: var(--text-color);
    font-weight: 500;
    opacity: 0.6;
    line-height: 40px;
    padding-left: 20px;
    border-radius: 5px;
    /* không cho copy text đang áp dụng vào tiêu đề */
}

.header__notify-content-item {
    display: flex;
    text-decoration: none;
    padding-bottom: 6px;
    background-color: rgba(238, 75, 43, 0.09);
}

.header__notify-content-item:hover {
    background-color: rgb(243, 226, 226);
}

.header__notify-content-text {
    font-size: 1.2rem;
}

.header__notify--readed {
    background-color: #fff;
}

.header__notify-content-text h3,
.header__notify-content-text h4 {
    margin: 0;
    color: #000;
}

.header__notify-content-text h3 {
    font-weight: 400;
    padding-bottom: 6px;
    padding-top: 6px;
}

.header__notify-content-text h4 {
    font-weight: 300;
    opacity: 0.8;
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header__notify-content-item img {
    width: 60px;
    /* ko làm méo ảnh khi dùng flex */
    object-fit: contain;
    padding: 0 10px;

}

.header__notify-footer {
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.header__notify-footer a{
    text-decoration: none;
    color: var(--text-color);
    padding: 6px 20px;
}

/* css box search */
.header__box-search {
    height: var(--header-search-width);
    align-items: center;
    display: flex;
    z-index: 1;
}

/* ----- mobile button ----- */
.mobile-menu {
    margin-left: 10px;
    padding: 6px 16px;
    display: none;
}

.mobile-menu-icon {
    color: #fff;
    font-size: 3rem;
}

.mobile-menu__logo {
    height: var(--header-width);
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-menu-link {
    text-align: center;
}


.mobile-menu__logo-icon {
    width: 50%;
}


.mobile-menu__wapper {
    position: fixed;
    width: 200px;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 1;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: transform ease-in 0.3s;
}

.mobile-menu__list {
    list-style: none;
    padding-left: 0;
}

.mobile-menu__item {
    margin: 6px;
}

.mobile-menu__item:first-child {
    font-weight: 500;
}

.mobile-menu__item-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 10px 20px;
    display: block;
}

.mobile-menu__overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: none;
    animation: fadeIn ease 1s;
}

#mobile-menu__input:checked ~ .mobile-menu__wapper {
    transform: translateX(0);
    
}

#mobile-menu__input:checked ~ .mobile-menu__overlay {
    display: block;
}

.mobile-menu__about {
    margin-top: auto;
    font-size: 1.6rem;
    text-align: center;
    padding: 20px;
}

.mobile-menu__about-link {
    text-decoration: none;
    color: var(--primary-color);
    padding-left: 4px;
}



/* ----- logo ----- */
.header__logo {
    width: 200px;
}

.header__logo-icon {
    width: 150px;
    padding-left: 8px;
}

/* tránh ngoại hình thẻ a ảnh hưởng vào logo */
.header__logo-link {
    text-decoration: none;
    color: transparent;
}

.header__search {
    background-color: #fff;
    flex: 1;
    height: 40px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

/* search icon on mobile */
.header__search-mobile {
    padding: 6px 10px;
    display: none;
    animation: scaleIn linear 0.3s ;
}

.header__search-mobile-icon {
    font-size: 2rem;
    color: #fff;
}

.header__search-mobile-checkbox-overlay {
    background-color: transparent;
    position: fixed;
    top: calc(var(--header-width) + var(--header-sortbar));
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.header__search-box-input {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 16px;
    border-radius: 2px;
}

/* selector ví dụ dix ~ ul thì sẽ lấy tất cả thẻ ul từ div trở đi, áp dụng cả cho ul ko phải là xon của div */
.header__search-input:focus ~ .header__search-history {
    display: block;
}
/*----- search history -----*/
.header__search-history {
    background-color: #fff;
    box-shadow: 0 1px 3px rgb(146, 145, 145);
    border-radius: 2px;
    width: calc(100% - 16px);
    position: absolute;
    top: calc(100% + 2px);
    display: none;
    overflow: hidden;
    z-index: 1;
}

.header__search-history-header {
    margin: 0;
    padding: 12px;
    font-size: 1.4rem;
    font-weight: 300;
    color: rgb(179, 179, 179);
}

.header__search-history-list {
    margin: 0;
    padding: 0;
}

.header__search-history-item {
    list-style: none;
    padding: 8px 12px;

}

.header__search-history-item a {
    text-decoration: none;
    color: var(--text-color);
}

.header__search-history-item:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    opacity: 0.8;
}

.header__search-history-item:hover a {
    color: #fff;
}

/*----- Search-option -----*/
.header__search-option {
    border-left: 1px solid #ccc;
    padding-left: 10px;
    cursor: pointer;
    position: relative;
}

.header__search-option-label {
    font-weight: 450;
}

.header__search-option-icon {
    margin: 0 12px 0 0px;
}

.header__search-option:hover .header__search-option-list {
    display: block;
}

/* css search option menu cap 2 */
.header__search-option-list {
    background-color: #fff;
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: 2px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    list-style: none;
    padding: 0;
    min-width: 124px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    z-index: 1;
}

.header__search-option-list::before {
    content: "";
    width: 100%;
    height: 20px;
    display: block;
    /* background-color: red; */
    position: absolute;
    top: -16px;
}

.header__search-option-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/* modifi khi có class này thì option dc tick đỏ */
.header__search-option-item.header__search-option-item--active i {
    display: inline-block;

}

.header__search-option-item:hover,
.header__search-option-item:hover i {
    background-color: var(--primary-color);
    color: #fff;
}

.header__search-option-item i {
    color: var(--primary-color);
    display: none;
}

.header__search-btn {
    height: 34px;
    width: 56px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 2px;
    margin-right: 3px;
}

.header__search-btn i {
    color: #fff;
}

/* ----- header__cart----- */
.header__cart {
    width: 50px;
    text-align: center;
    cursor: pointer;
    margin: 0 50px;
    position: relative;
    z-index: 1;
    /* bỏ đổi màu nền khi bấm trên điện thoại */
    -webkit-tap-highlight-color: transparent;
}

.header__cart-icon {
    font-size: 2.5rem;
    color: #fff;
    
}

.header__cart-badge {
    background-color: #fff;
    color: var(--primary-color);
    border-radius: 50px;
    padding: 1px 6px;
    position: absolute;
    top: -10px;
    right: -6px;
    font-size: 1.4rem;
    border: 2px solid var(--primary-color);
}

.header__cart:hover .header__cart-popup {
    display: block;
}
/*----- no cart -----*/
.header__cart-popup {
    width: 400px;
    /* 50% kích thước chiều dọc màn hình */
    position: absolute;
    background-color: #fff;
    top: calc(100% + 9px);
    right: 0;
    box-shadow: 0 2px 8px #ccc;
    border-radius: 2px;
    animation: scaleIn ease-in 0.3s;
    transform-origin: calc(100% - 20px) top;
    cursor: default;
    display: none;
}

.header__cart-popup--nocart {
    padding: 20px;
}

.header__cart-popup::before {
    content: "";
    border-width: 8px 14px;
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    position: absolute;
    cursor: pointer;
    top: -16px;
    right: 10px;
}

.header__cart-popup--nocart .header__cart-popup--nocart-img {
    display: block;
}
.header__cart-popup--nocart-img {
    width: 30%;
    padding-top: 36px;
    display: none;
    margin: auto;
}

.header__cart-popup--nocart .header__cart-popup--nocart-title {
    display: block;
}
.header__cart-popup--nocart-title {
    font-size: 1.4rem;
    padding-top: 20px;
    padding-bottom: 40px;
    color: var(--text-color);
    display: none;
}

/*----- has cart -----*/
.header__cart-popup-head {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0;
    padding: 12px 10px;
    text-align: left;
    color: #999;
}

.header__cart-popup-list {
    list-style: none;
    padding: 0;
    max-height: 30vh;
    overflow-y: auto;
}

.header__cart-popup-item {
    display: flex;
    align-items: center;
    padding: 10px 10px;
}

.header__cart-popup-item:hover {
    background-color: rgba(238, 75, 43, 0.09);
}

.header__cart-popup-item-img {
    width: 48px;
    height: 48px;
    border: 1px solid #ccc;
    /* object-fit: contain; */
    
}

.header__cart-popup-item-info {
    flex: 1;
    padding-left: 10px;
    padding-right: 6px;
}

.header__cart-popup-item-info-sp {
    display: flex;
    /* background-color: #ccc; */
    justify-content: space-between;
    /* align-items: center; */
    /* padding-bottom: 12px; */

}

.header__cart-popup-item-info-sp-name {
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 500;
    max-height: 3.2rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    flex: 1;
    text-align: left;
    padding-bottom: 10px;
}

.header__cart-popup-item-info-sp-price {
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 450;
}

.header__cart-popup-item-info-sp-x {
    font-size: 1rem;
    color: #666;
    padding: 0 4px;
}

.header__cart-popup-item-info-sp-num {
    font-size: 1.2rem;

}

.header__cart-popup-item-info-extra {
    display: flex;
    justify-content: space-between;
}

.header__cart-popup-item-info-extra-type {
    font-size: 1.4rem;
    font-weight: 400;
    color: #666;
}

.header__cart-popup-item-info-extra-del {
    font-size: 1.4rem;

}

.header__cart-popup-item-info-extra-del:hover {
    color: var(--primary-color);
}

.header__cart-popup-viewcart {
    float: right;
    margin: 10px;
}

/*--- header-sortbar for ipad mobile ---*/
.header-sortbar {
    width: 100%;
    height: var(--header-sortbar);
    position: fixed;
    top: var(--header-width);
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    /* z-index: 1; */
    display: none;
}

.header-sortbar-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
}

.header-sortbar-item {
    flex: 1;
    text-align: center;
    position: relative;
}

.header-sortbar-item--active .header-sortbar-item-link {
    color: var(--primary-color);
}

.header-sortbar-item::before {
    content: "";
    height: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    border-left: 1px solid #ccc;
}

.header-sortbar-item:first-child::before {
    display: none;
}

.header-sortbar-item-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    height: var(--header-sortbar);
    line-height: var(--header-sortbar);
}
/*----- category mobile -----*/
.category__mobile {
    background-color: #f5f5f5;
    /* position: fixed;
    top: calc(var(--header-width) + var(--header-sortbar));
    left: 0;
    right: 0; */
    padding-top: 6px;
    z-index: 1;
    display: none;
}

.category__mobile-list {
    display: flex;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
    list-style: none;
}

/* ẩn thanh kéo ngang */
.category__mobile-list::-webkit-scrollbar {
    display: none;
}

.category__mobile-item {
    /* không méo item khi hết chỗ */
    flex-shrink: 0;
    margin-right: 10px;
}

.category__mobile-item:nth-of-type(3n + 1) .category__mobile-item-link {
    background-color: #87AFD8;
}

.category__mobile-item:nth-of-type(3n + 2) .category__mobile-item-link {
    background-color: #76C9BD;
}

.category__mobile-item:nth-of-type(3n) .category__mobile-item-link {
    background-color: #88CF81;
}

.category__mobile-item-link {
    --line-height: 2.2rem;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2 +2px);
    color: #fff;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    width: 100px;
    border-radius: 3px;
    text-align: center;
    padding: 2px;
    /* bỏ đổi màu chữ khi bấm trên điện thoại */
    user-select: none;
    -webkit-user-select: none;
    /* bỏ đổi màu nền khi bấm trên điện thoại */
    -webkit-tap-highlight-color: transparent;

}



/* ========= modal register va login ===========*/
.modal__login {
    margin: auto;
    width: 500px;
    background-color: #fff;
    border-radius: 4px;
    /* để thằng con nào chiu ra là ko hiển thị để bo được góc */
    overflow: hidden;
}

.modal__login-box {
    padding: 16px 32px;
}

.modal__login-header {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    padding-bottom: 30px;
}

.modal__login-header-item {
    font-weight: 500;
}

.modal__login-header-item:last-child {
    color: var(--primary-color);
    font-weight: 700;
}

.modal__login-input-item {
    padding: 6px 0;
}

.modal__login-input-item input {
    font-size: 1.4rem;
    width: 100%;
    padding: 10px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.3);
    outline: none;
}

.modal__login-input-item input:focus {
    border-color: rgba(0, 0, 0, 0.6);
}

.modal__login-help,
.modal__login-rule {
    margin-top: 16px;
    margin-bottom: 100px;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
}

.modal__login-help-link,
.modal__login-rule-link {
    text-decoration: none;
    color: var(--primary-color);
}

.modal__login-help {
    display: flex;
    justify-content: flex-end;
}

.modal__login-help-separate {
    display: block;
    border-left: 1px solid #ccc;
    margin: 0 8px;
}

.modal__login-help-link-question {
    color: #999;
}


.modal__login-control {
    display: flex;
    justify-content: flex-end;
}

.modal__login-control button:last-child {
    margin-left: 16px;
}

.modal__social {
    background-color: rgb(238, 235, 235);
    height: 60px;
    display: flex;
    justify-content: center;
    padding: 0 36px;
    border-radius: 5px;
}

.modal__social-item {
    margin:14px 6px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 32px;
    text-align: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.modal__social-item-fb {
    background-color: #45568E;
    color: #fff;
}

.modal__social-item-gg {
    background-color: rgb(248, 248, 248);
    color: var(--text-color);
}


/* =================== container css ================= */
#container {
    background-color: #f5f5f5;
}
/* ----- category ----- */
.category {
    margin-top: 24px;
    background-color: #fff;
}

.category__title {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--text-color);
    padding: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.category__title i {
    margin-right: 4px;
    font-size: 1.4rem;
}

.category__list {
    padding-left: 0;
    list-style: none;
}

.category__item {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 8px 28px;
    cursor: pointer;
    position: relative;
}

.category__item-link {
    text-decoration: none;
    color: var(--text-color);
    /* tạo chuyển động khi hover right từ 0 --> -4px */
    position: relative;
    transition: right ease-in-out 0.3s;
    right: 0;
}

.category__item:hover .category__item-link {
    /* chuyển động đến right khi hover */
    right: -4px;
    color: var(--primary-color);
}

.category__item--active {
    color: var(--primary-color);
}

.category__item--active::before {
    content: "";
    display: block;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50% - 1px));
    left: 16px;
}


/*----- product__filter -----*/
.product__filter {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #ededed;
    margin-top: 24px;
    padding: 0 16px;
}

.product__filter-label {
    font-size: 1.4rem;
    font-weight: 400;
    margin-right: 16px;
    color: #555555;
}

.product__filter-btn {
    min-width: 90px;
    height: 34px;
    font-size: 1.4rem;
    font-weight: 400;
    margin-right: 16px;
}

.product__filter-price {
    width: 200px;
    height: 34px;
    background-color: #fff;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 16px;
    cursor: pointer;
    position: relative;
}

.product__filter-price:hover .select-input {
    display: block;
}

.product__filter-price-label {
    font-size: 1.4rem;
}

.product__filter-page {
    margin-left: auto;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 400;
}

.product__filter-page-curent {
    color: var(--primary-color);
}

.product__filter-page-all {
    margin-right: 16px;
}

.product__filter-page-control {
    display: flex;
    align-items: center;
}

.product__filter-page-control-link {
    text-decoration: none;
    font-size: 1.4rem;
    background-color: #fff;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product__filter-page-control-link--disable {
    cursor: default;
    background-color: #F9F9F9;
    color: #D4D4D4;
}

.product__filter-page-control-link:first-child {
    margin-right: 1px;
}

/*----- product-item -----*/
.product__item-wapper {
    margin-bottom: 10px;
}

.product__item {
    background-color: #fff;
    border-radius: 2px;
    margin-top: 10px;
    position: relative;
    display: block;
    text-decoration: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    transition: tranform ease-in 0.3s;
}

.product__item:hover {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
    transform: translateY(-1px);
}

.product__item-img {
    padding-top: 100%;
    background-repeat: no-repeat;
    /* size vừa đủ khung */
    background-size: contain;
    /* cho vị trí giữa để nếu có phóng to nó phóng giữa */
    background-position: top center;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.product__item_info {
    padding: 10px;
}

.product__item-name {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    margin: 0 0 10px;
    /* làm ... khi nhiều hàng quá dòng */
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* số hàng kết thúc bằng ... */
    -webkit-line-clamp: 2;

    /* làm ... khi 1 hàng quá dòng */
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
}

.product__item-price {
    display: flex;
    flex-wrap: wrap;
    /* để 2 cái giá tiền nó căng thẳng base-line là dưới chân */
    align-items: baseline;
}

.product__item-price-old {
    font-size: 1.2rem;
    padding-right: 4px;
    text-decoration: line-through;
    color: #666;
}

.product__item-price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
}

.product__item-action {
    display: flex;
    /* align-items: baseline; */
    padding: 6px 0;
}

.product__item-action-like {
    font-size: 1.1rem;
    color: var(--primary-color);
}

i.product__item-action-liked-icon {
    display: none;
    color: var(--primary-color);
}

.product__item-action-like--liked .product__item-action-like-icon{
    display: none;   
}

.product__item-action-like--liked .product__item-action-liked-icon{
    display: inline-block;   
}

.product__item-action-rate {
    margin-left: auto;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.4);
}

.product__item-action-rate--rated {
    color: var(--star-color);
}

.product__item-action-sold {
    padding-left: 4px;
    font-size: 1.2rem;
    color: var(--text-color);
}

.product__item-origin {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.8);
}

.product__item_favorite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    /* lấy màu theo color */
    background-color: currentColor;
    font-size: 1.2rem;
    padding: 0 6px;
    line-height: 16px;
}

.product__item_favorite span {
    color: #fff;
}

.product__item_favorite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    /* giảm độ sáng của mảnh gập của nhãn */
    filter: brightness(60%);
}

.product__item_saleoff {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(254,215,56,0.9);
    text-align: center;
    border-top-right-radius: 2px;
}

.product__item_saleoff::before {
    content: "";
    position: absolute;
    bottom: -6px;
    right: 0;
    border-style: solid;
    border-width: 0 20px 6px;
    border-color: transparent rgba(254,215,56,0.9) transparent rgba(254,215,56,0.9);
}

.product__item_saleoff-num {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--primary-color);
    line-height: 18px;
}

.product__item_saleoff-lable {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

/*===== footer =====*/
#footer {
    padding-top: 60px;
    background-color: #f5f5f5;
}

.footer__first {
    background-color: #fff;
    border-top: 1px solid var(--primary-color);

}

.footer__first-wraper {
    padding-top: 30px;
}

.footer__first-list {
    padding-left: 0;
    list-style: none;
}

.footer__first-item-link {
    text-decoration: none;
    color: #AAAAAA;
}

.footer__first-item-link:hover {
    color: var(--primary-color);
}

.footer__first-item {
    padding: 4px 0;
    font-size: 1.2rem;
}

.footer__fist-heading {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 500;
    color: #999999;

}

.footer__first-pay {
    display: flex;
    font-size: 2rem;
    width: 40%;
    justify-content: space-between;
    padding: 10px 0;
}

.footer__first-pay a {
    color: #AAAAAA;
}

.footer__first-pay a:hover {
    color: var(--primary-color);
}

.footer__first-item-link-icon {
    padding-right: 6px;
}

.footer__fist-download {
    display: flex;
    padding-top: 10px;
}

.footer__fist-download-qr-img {
    width: 50%;
    object-fit: contain;
}

.footer__fist-download-store {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer__fist-download-store-img {
    width: 100px;
}

.footer__last {
    font-size: 1.4rem;
    background-color: #F5F5F5;
    color: #8D8D8D;
    text-align: center;
    padding: 20px 0;
}
